body {
    font-family: arial, sans-serif;
    margin: 0px;
}
nav {
    display: flex;
    justify-content: flex-end;
    margin: 1em 30px 0 0;
    right: 32px;
    padding: 0;
    list-style-type: none;
    font-size: 13px;
}
.link {
    color: #212121;
    text-decoration: none;
    padding: 8px;
}
.link:hover {
    color: #424242;
    text-decoration: underline;
}
.google-apps {
    padding:  10px  10px 10px 10px;
    width: 15px;
    opacity: .65;
}
.google-apps:hover {
    opacity: 1;
    cursor: pointer;
}
.google-apps:focus {
    opacity: 1;
    cursor: pointer;
}
.sign-in {
    margin-left: 10px;
    padding: 2px 10px;
    font-weight: bold;
    color: white;
    background-color: #4584ee;
    border: none;
    border-radius: 2px;
}
.container {
    text-align: center;
}
.google-logo {
    padding-top: 109px;
    margin-bottom: 32px;
    align-self: center;
}
#searchbox {
    width: 558px;
    height: 34px;
    border-radius: 30px;
    border: 1px #dfe1e5 solid;
    padding: 5px 5px 5px 25px;
    top: 0;
    left: 0;
    z-index: 5;
    font-size: 16px;
}
#searchbox:hover {
    border: none;
    box-shadow: 1px 1px 8px #dfe1e5;
    outline: none;
    margin-bottom: 2px;
}
#searchbox:focus {
    border: none;
    box-shadow: 1px 1px 8px #dfe1e5;
    outline: none;
    margin-bottom: 2px;
}
.btn-search {
    margin: 29px 4px;
    padding: 10px 16px;
    color: #5f6368;
    font-size: 14px;
    font-family: arial, sans-serif;
    background-color: #f2f2f2;
    border: 1px;
    border-radius: 4px;
}
.btn-search:hover {
    margin: 28px 3px;
    background-image: linear-gradient(#f7f7f7, #f1f1f1);
    border: 1px #c6c6c6 solid;
}
.language {
    font-size: 0.8em;
}
footer {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #f2f2f2;
    height: 38px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e4e4e4;
}
footer a {
    float: left;
    text-decoration: none;
    color: #5F6368;
    font-size: 13px;
    padding: 10px 0px 0px 27px;
    text-align: center;
}
footer a.right {
    float: right;
}
footer a.end {
    padding-right: 27px;
}
footer a:hover {
    text-decoration: underline;
    cursor: pointer;
}
